<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button id="notification-button" ion-button clear (click)="openModal()">
            <ion-icon name="notifications">
              <ion-badge id="notifications-badge" color="danger">{{this.needList.length}}</ion-badge>
            </ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
<div *ngIf="isSpecialAdmin">
<ion-item (click)="open1()">
Add/Remove Communities
</ion-item>
</div>

<div *ngIf="isSpecialAdmin">
<ion-item (click)="open2()">
Manage Clients
</ion-item>
</div>

<div *ngIf="isSpecialAdmin">
<ion-item (click)="open4()">
Delete a Need
</ion-item>
</div>

<div *ngIf="isSpecialAdmin">
<ion-item (click)="open5()">
List all Advocates and Neighbors
</ion-item>
</div>

<ion-item (click)="logOff()">
Log Off
</ion-item>
<ion-item (click)="showAbout()">
About
</ion-item>
</ion-list>

<br>
<br>
<br>
<br>
<br>
<p text-center>
Version 1
</p>
</ion-content>
