<ion-header>
  <ion-navbar>
    <ion-title>
      Add a Client
    </ion-title>
   <ion-buttons right>
    <button>
      <ion-icon name="basket">2</ion-icon>
    </button>
    <button>
      <ion-icon name="clock">4</ion-icon>
    </button>
    <button>
      <ion-icon name="checkbox-outline">1</ion-icon>
    </button>

   </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

<div *ngIf="!isApp">

<div text-center>
<h2>Please enter a new Client below:</h2>
</div>
<table width="50%" align="center">
<ion-list>
  <ion-item>
    <ion-label color="dark">First Name:  </ion-label>
    <ion-input [(ngModel)]="client.fname"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label color="dark">Last Name:  </ion-label>
    <ion-input [(ngModel)]="client.lname"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label color="dark">Cell:  </ion-label>
    <ion-input type="tel" [(ngModel)]="client.cell"></ion-input>
  </ion-item>
    
  <ion-item>
    <ion-label color="dark">Community:  </ion-label>
    <ion-select [(ngModel)]="client.community">
    <ion-option value="1234567">Harbour View</ion-option>  </ion-select>
  </ion-item>
  
</ion-list>
</table>

</div>

<div *ngIf="isApp">

<div text-center>
<h2>Please enter a new Client below:</h2>
</div>
<br>
<ion-list>
  <ion-item>
    <ion-label color="dark">First Name:  </ion-label>
    <ion-input [(ngModel)]="client.fname"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label color="dark">Last Name:  </ion-label>
    <ion-input [(ngModel)]="client.lname"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label color="dark">Cell:  </ion-label>
    <ion-input type="tel" [(ngModel)]="client.cell"></ion-input>
  </ion-item>
    
  <ion-item>
    <ion-label color="dark">Community:  </ion-label>
    <ion-select [(ngModel)]="client.community">
    <ion-option value="1234567">Harbour View</ion-option>  </ion-select>
  </ion-item>
  
</ion-list>
</div>

<br>
<div text-center>
<button ion-button color="dark" (click) ="onSave(client)">Save</button>
</div>


</ion-content>
