<ion-header>
  <ion-navbar>
    <ion-title>Needs</ion-title>
<ion-buttons end>
    <button id="notification-button" ion-button clear (click)="goNot()">
        <ion-icon name="notifications">
          <ion-badge id="notifications-badge" color="danger">{{(items$ | async)?.length}}</ion-badge>
        </ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


<div *ngIf="!isApp" text-center>

<table width="50%" align="center">
<ion-list>


 <ion-item>
                  <ion-label>Client</ion-label>
                  <ion-select [(ngModel)]="need.clientId" (ionChange)="onChange(need.clientId)">
                    <div *ngFor="let field of descList">
                      <ion-option value="{{field.id}}">{{field.record.fname}} {{field.record.lname}}
                      </ion-option>
                    </div>
                  </ion-select>
 </ion-item>


  <ion-item>
    <ion-label color="dark">Need Description:  </ion-label>
    <ion-input [(ngModel)]="need.desc"></ion-input>
  </ion-item>

  <ion-item>
  <ion-input type="hidden" [(ngModel)]="communityId"></ion-input>
  </ion-item>

</ion-list>
</table>

</div>

<div *ngIf="isApp" text-center>

<ion-list>



   <ion-item>
                    <ion-label>Client</ion-label>
                    <ion-select [(ngModel)]="need.clientId" (ionChange)="onChange(need.clientId)">
                      <div *ngFor="let field of descList">
                        <ion-option value="{{field.id}}">{{field.record.fname}} {{field.record.lname}}
                        </ion-option>
                      </div>
                    </ion-select>
   </ion-item>


    <ion-item>
      <ion-label color="dark">Need Description:  </ion-label>
      <ion-input [(ngModel)]="need.desc"></ion-input>
    </ion-item>

    <ion-item>
    <ion-input type="hidden" [(ngModel)]="communityId"></ion-input>
    </ion-item>

</ion-list>

</div>

<br>
<div text-center>
<button ion-button color="dark" (click) ="onSave(need,communityId)">Save</button>
</div>


</ion-content>
