<ion-header>
  <ion-navbar>
    <ion-title>
      Notifications
    </ion-title>
    <ion-buttons end>
        <button ion-button color="clear" (click)="logout()">Close</button>
    </ion-buttons>
  </ion-navbar>

<ion-toolbar>


    <ion-segment [(ngModel)]="section" color="dark">


      <ion-segment-button value="one">Requests
<ion-badge color="accent">{{this.descList.length}}</ion-badge>
              </ion-segment-button> 

      <ion-segment-button value="two">Progress
<ion-badge color="accent">{{this.descList2.length}}</ion-badge>
</ion-segment-button>


      <ion-segment-button value="three">Finished
<ion-badge color="accent">{{this.descList3.length}}</ion-badge>
      </ion-segment-button>

    </ion-segment>



  </ion-toolbar>

</ion-header>

<ion-content>



 <div [ngSwitch]="section">


      <ion-list *ngSwitchCase="'one'">

<br>

<ion-item-sliding *ngFor="let desc of descList">

 <ion-item>
  <b>Requested Need:</b>  {{desc.record.desc}}<br>
  <b>Date Requested:</b>  {{desc.record.dateSub}} <br>
  <b>Requested By:</b>  {{desc.record.reqName}} <br>
  <b>Requestor Cell:</b> {{desc.record.reqCell}} <br>
<button ion-button (click)="editItem1(desc)">Appprove</button>&nbsp;&nbsp;&nbsp;
<button ion-button color="danger" (click)="rejectItem1(desc)">Reject</button>
<button ion-button clear item-end>
<ion-icon name="arrow-forward"></ion-icon>
</button>

 </ion-item>

 <ion-item-options>
  <button ion-button color="primary" (click)="editItem1(desc)">Approve</button>
  <button ion-button color="danger" (click)="rejectItem1(desc)"><ion-icon trash></ion-icon> Reject</button>
 </ion-item-options>
</ion-item-sliding>

      </ion-list>


      <ion-list *ngSwitchCase="'two'">

        <br>

        <ion-item-sliding *ngFor="let desc of descList2">

         <ion-item>
          <b>Requested Need:</b>  {{desc.record.desc}}<br>
          <b>Date Requested:</b>  {{desc.record.dateSub}} <br>
          <b>Advocate:</b>  {{desc.record.advocateName}} <br>
          <b>Advocate Cell:</b> {{desc.record.advocateCell}} <br>
  <button ion-button color="primary" (click)="editItem2(desc)">Finished work</button>

<button ion-button clear item-end>
<ion-icon name="arrow-forward"></ion-icon>
</button>

         </ion-item>



         <ion-item-options>
          <button ion-button color="primary" (click)="editItem2(desc)">Finish</button>
        <!--  <button ion-button color="danger" (click)="rejectItem2(desc)"><ion-icon trash></ion-icon> Reject</button>-->
         </ion-item-options>
        </ion-item-sliding>

      </ion-list>


      <ion-list *ngSwitchCase="'three'">

        <br>

        <ion-item-sliding *ngFor="let desc of descList3">

         <ion-item>
          <b>Requested Need:</b>  {{desc.record.desc}}<br>
          <b>Date Requested:</b>  {{desc.record.dateSub}} <br>
          <b>Worked by:</b>  {{desc.record.reqName}} <br>
          <b>Cell:</b> {{desc.record.reqCell}} <br>
  <button ion-button color="primary" (click)="editItem3(desc)">Close</button>

<button ion-button clear item-end>
<ion-icon name="arrow-forward"></ion-icon>
</button>

         </ion-item>

         <ion-item-options>
          <button ion-button color="primary" (click)="editItem3(desc)">Close</button>
<!--          <button ion-button color="danger" (click)="rejectItem3(desc)"><ion-icon trash></ion-icon> Reject</button>-->
         </ion-item-options>
        </ion-item-sliding>

      </ion-list>


</div>

</ion-content>
